.main_nav {
    color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.main_nav > a {
    margin-right: 20px;
    text-decoration: none;
}

.main_nav > a:hover {
    color: black;
}